# This workflow will install Python dependencies, run tests and lint with a multiple version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: DrNED Examiner Unit tests

on:
  push:
    branches:
      - master
      - ghworkflow
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      XMNR_DIR: .
    strategy:
      matrix:
        python-version: [ '3.10', '3.9', '3.8', '3.7', '3.6' ]
    name: Python ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          if [ -f ${XMNR_DIR}/test/unit/requirements.txt ]; then pip install -r ${XMNR_DIR}/test/unit/requirements.txt; fi
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 ${XMNR_DIR}/python --count --ignore=E501,F401,F403,W504,W503 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 ${XMNR_DIR}/python --ignore=F401,F403,W504,W503,C901,F841 --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run:
          PYTHONPATH=${XMNR_DIR}/python:${XMNR_DIR}/drned-skeleton:${PYTHONPATH} pytest -s -v ${XMNR_DIR}/test/unit
